<!DOCTYPE html>
<html>
  <head>
    <title>MusicConcerts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  		<%= render("layouts/header/header") %>

    <%= yield %>
    <footer>
    	<h5> <strong> Powered by </strong> <em> Pizza </em></h5>
    </footer>
  </body>
</html>
