<h3> Concert Information </h3>

<ul style = "list-style :square">
	<li> 
		$<%= @one_concert.price %><br>
	</li>
	<li>
		Artist:<%= @one_concert.artist %><br>
	</li>
	<li>
		Venue:<%= @one_concert.venue %><br>
	</li>
	<li>
		Location:<%= @one_concert.city %><br>
	</li>
	<li>
		Date:<%= @one_concert.date %><br>
	</li>
	<li>
		Description:<%= @one_concert.description %><br>
	</li>
</ul>