<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	<%= render("layouts/other_stuff/header") %>


    <%= yield%>
    <footer> 
    	<h5><em>Created By Timewarp</em></h5>
    </footer>
  </body>
</html>
